section {
  margin-top: 10rem;
  margin-bottom: 4.8125rem;
}
.logoutBtn {
  all: unset;
  flex: 0 0 auto;
  width: 98.25%;
  margin: auto;
  cursor: pointer;
  background-color: #1E2021 !important;
}
