<section class="settings-section text-capitalize">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <div class="inner rounded rounded-4  p-4 mb-3 ">
          <p class="fs-4 fw-bolder">Change Language</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="langAr" value="ar"
              [(ngModel)]="selectedLang">
            <label class="form-check-label" for="langAr">Arabic (اللغه العربيه)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="language" id="langEn" value="en"
              [(ngModel)]="selectedLang">
            <label class="form-check-label" for="langEn">English (United Kingdom)</label>
          </div>
          <button class="btn btn-primary mt-3" (click)="saveLanguage()">Save Language</button>
        </div>
      </div>
      <div class="col-12 ">
        <div class="inner rounded rounded-4  p-4 mb-3 ">
          <p class="fs-4 fw-bolder">Change Theme</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="theme" id="themeLight" value="light"
              [(ngModel)]="selectedTheme">
            <label class="form-check-label" for="themeLight">Light Mode</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="theme" id="themeDark" value="dark"
              [(ngModel)]="selectedTheme">
            <label class="form-check-label" for="themeDark">Dark Mode</label>
          </div>
          <button class="btn btn-success mt-3" (click)="saveTheme()">Save Theme</button>
        </div>
      </div>
      <div class="col-12">
        <div class="inner rounded rounded-4  p-4 mb-3 ">
          <p class="mb-0 fs-4 fw-bolder">update your profile </p>
        </div>
      </div>
      <button class=" logoutBtn cursor-pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="">
          <div class="inner d-flex align-items-center py-4 rounded-4 px-4">
            <p class="mb-0 fs-4 fw-bolder">Log out</p>
          </div>
        </div>
      </button>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Logout</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to log out?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="confirmLogout()">Yes, Log Out</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
