<section class="">
  <div class="container formDarkNdlight py-5 px-5 shadow rounded rounded-3">
    <h1 class="mb-5 fw-bold position-relative RegisteritionTxt">
      {{ 'login.title' | translate }} <i class="fa-solid fa-right-to-bracket"></i>
    </h1>
    <form [formGroup]="loginFormData" (ngSubmit)="showLoginData()">
      <div class="form-floating mb-3">
        <input formControlName="email" type="email" class="form-control" id="email" [placeholder]="'login.emailPlaceholder' | translate">
        <label for="email" class="form-label">{{ 'login.emailLabel' | translate }}</label>
      </div>
      <div class="errors mb-3">
        @if(loginFormData.get('email')?.errors && loginFormData.get('email')?.touched) {
          @if(loginFormData.get('email')?.getError('required')) {
            <p class="text-danger ms-3 my-2 d-flex align-items-center "><i class="me-1 fa-solid fa-circle-exclamation"></i> This field is required.</p>
          }
          @if(loginFormData.get('email')?.getError('email')) {
            <p class="text-danger ms-3 my-2 d-flex align-items-center "><i class="me-1 fa-solid fa-circle-exclamation"></i> Invaild Email </p>
          }
        }
      </div>
      <div class="position-relative form-floating mb-3">
        <input
          formControlName="password"
          [type]="passwordVisible ? 'text' : 'password'"
          class="form-control"
          id="password"
          [placeholder]="'login.passwordPlaceholder' | translate"
        >
        <div class="icon-eye position-absolute" (click)="togglePasswordVisibility()">
          <i
            class="fa-solid text-white"
            [class.fa-eye]="passwordVisible"
            [class.fa-eye-slash]="!passwordVisible"
          ></i>
        </div>
        <label for="password" class="form-label">{{ 'login.passwordLabel' | translate }}</label>
      </div>
      <div class="errors ">
        @if(loginFormData.get('password')?.errors && loginFormData.get('password')?.touched) {
          @if(loginFormData.get('password')?.getError('required')) {
            <p class="text-danger ms-3 my-2 d-flex align-items-center">
              <i class="me-1 fa-solid fa-circle-exclamation"></i> This field is required.
            </p>
          }
          <!-- @if(loginFormData.get('password')?.getError('pattern') && sumbited === true) {
            <p class="text-danger ms-3 my-2 d-flex align-items-center">
              <i class="me-1 fa-solid fa-circle-exclamation"></i> Wrong Password
            </p>
          } -->
        }
      </div>
      @if(isLoading === true) {
        <div class="d-flex justify-content-center py-3">
          <button class="btn btn-FED754 w-50 disabled">
            {{ 'login.button' | translate }}  <i class="fa-solid fa-spinner fa-spin me-2"></i>
          </button>
        </div>
      }@else if(isLoading === false) {
        <div class="d-flex justify-content-center py-3">
          <button class="btn btn-FED754 w-50 ">
            {{ 'login.button' | translate }} <i class="fa-solid me-2 fa-right-to-bracket"></i>
          </button>
        </div>
      }

    </form>
    @if (loginError === true) {
      <div class="d-flex justify-content-center align-items-center my-3">
        <p class=" text-center text-danger mb-0">Invaild Email Or Password ! Login Failed <i class="fa-regular fa-face-frown-open"></i></p>
      </div>
    }
    <p class="text-center">Don't Have An Account ? <span class="cursor-pointer fw-bold text-decoration-underline" routerLink="/register">Register Now </span></p>
  </div>
  @if(showModal === true) {
    <div  class="modal-overlay">
      <div class="modal-content p-5 formDarkNdlight shadow w-50">
        <h2 class="pb-3">Login Successful ! <i class="fa-regular text-success fa-circle-check"></i></h2>
        <p>Welcome to Dream Home! You are now logged in.</p>
        <p class="cursor-pointer fw-bold text-decoration-underline" routerLink="/dreamhome">Go to Home</p>
        <button class="btn" (click)="closeModal()">Close</button>
      </div>
    </div>
  }

</section>
