<section class="Services overflow-y-auto" id="SERVICE">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="servicesText position-relative text-center">{{ 'servicex.SERVICES' | translate }}</h1>
    </div>
    <div class="row">
      @for (service of services | filterServices: searchText ; track $index) {
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" [routerLink]="['service-details', service.jobId]">
          <div class="inner shadow d-flex flex-column rounded-5 border position-relative my-3 overflow-hidden">
            <div class="overlay bg-dark">
              <img [src]="service.image" class="w-100 d-block" [alt]="service.job | translate" [title]="service.job | translate"/>
            </div>
            <div class="p-5 fixDetails d-flex justify-content-center align-items-center flex-column">
              <h6 class="text-center plumbingTxt">
                @if(service.job === 'PLUMBING') {
                  {{ 'servicex.PLUMBING' | translate }}
                }
                @if(service.job === 'PAINTING') {
                  {{ 'servicex.PAINTING' | translate }}
                }
                @if(service.job === 'WOODEN_FLOORS') {
                  {{ 'servicex.WOODEN_FLOORS' | translate }}
                }
                @if(service.job === 'HOME_APPLIANCES') {
                  {{ 'servicex.HOME_APPLIANCES' | translate }}
                }
                @if(service.job === 'ALUMETAL') {
                  {{ 'servicex.ALUMETAL' | translate }}
                }
                @if(service.job === 'AIR_CONDITION') {
                  {{ 'servicex.AIR_CONDITION' | translate }}
                }
                @if(service.job === 'CURTAINS') {
                  {{ 'servicex.CURTAINS' | translate }}
                }
                @if(service.job === 'CARPENTRY') {
                  {{ 'servicex.CARPENTRY' | translate }}
                }
                @if(service.job === 'GYPSUM_BOARD') {
                  {{ 'servicex.GYPSUM_BOARD' | translate }}
                }
                @if(service.job === 'SATELLITE') {
                  {{ 'servicex.SATELLITE' | translate }}
                }
                @if(service.job === 'INTERNET_NETWORKS') {
                  {{ 'servicex.INTERNET_NETWORKS' | translate }}
                }
                @if(service.job === 'ELECTRICITY') {
                  {{ 'servicex.ELECTRICITY' | translate }}
                }
                </h6>
              <button class="fixbtn" title="{{ 'servicex.FIX_NOW' | translate }}">
                {{ 'servicex.FIX_NOW' | translate }} <i class="fa-solid fa-wrench"></i>
              </button>
            </div>
            <div class="borderLineInfo"></div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
