<footer>
  <div class="parentFooter container">
    <div class="d-flex flex-column">
      <div>
        <p class="fw-bold fs-4 lead mt-5 text-2xl">
          {{ 'footer.get_app' | translate }} <i class="fa-solid fa-house"></i>
        </p>
        <p class="lead">{{ 'footer.app_description' | translate }}</p>
      </div>
      <div class="container d-flex align-items-center pb-5 pt-2 justify-content-center">
        <div class="form-floating w-85">
          <input type="email" class="form-control" id="email" placeholder="{{ 'footer.email_placeholder' | translate }}">
          <label for="email" class="form-label">{{ 'footer.email_placeholder' | translate }}</label>
        </div>
        <button class="w-15 ms-3 btn btn-warning py-3">
          {{ 'footer.share_link' | translate }}
        </button>
      </div>
    </div>
    <div class="h-1px w-96 mx-auto"></div>
    <div>
      <div class="d-flex justify-content-between w-96 mx-auto py-10">
        <div class="d-flex justify-content-center align-items-center">
          <p class="mx-2 mb-0">{{ 'footer.follow_us' | translate }}</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <ul class="d-flex align-items-center justify-content-center mb-0">
            <li class="mx-2 w-100px">
              <img src="./images/get-apple-store.png" class="d-block w-100" alt="App Store">
            </li>
            <li class="mx-2 w-100px">
              <img src="./images/get-google-play.png" class="d-block w-100" alt="Google Play">
            </li>
          </ul>
        </div>
      </div>
      <div class="h-1px w-96 mx-auto"></div>
    </div>
    <ul class="d-flex align-items-center icons ps-5 py-2">
      <li>
        <a href="https://www.instagram.com/" class="iconsLinkFooter" target="_blank">
          <i class="fa-brands fa-instagram icons-footer pe-3 fs-5 fw-bold"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/" class="iconsLinkFooter" target="_blank">
          <i class="fa-brands fa-facebook icons-footer pe-3 fs-5 fw-bold"></i>
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/" class="iconsLinkFooter" target="_blank">
          <i class="fa-brands fa-tiktok icons-footer pe-3 fs-5 fw-bold"></i>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/" class="iconsLinkFooter" target="_blank">
          <i class="fa-brands fa-x-twitter icons-footer pe-3 fs-5 fw-bold"></i>
        </a>
      </li>
    </ul>
  </div>
  <p class="mb-0 text-center py-3">{{ 'footer.copyright' | translate }}</p>
  <p class="mb-0 text-center py-3">{{ 'footer.designed_by' | translate }}</p>
</footer>
