
@if(userRole === 'employee') {
  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 cursor-pointer" routerLink="/messages">
          <div class="inner  shadow rounded rounded-4 p-3">
            <i class="fa-solid fa-envelope text-white  w-100 fs-1 py-3 d-flex justify-content-center"></i>
            <h2 class="fs-4 fw-bold mb-3">messages  </h2>
            <p>You can check your private messages </p>
          </div>
        </div>

        <div class="col-12 col-md-6 cursor-pointer" >
          <div class="inner  shadow rounded rounded-4 p-3">
            <i class="fa-solid fa-bell text-white  w-100 fs-1 py-3 d-flex justify-content-center"></i>
            <h2 class="fs-4 fw-bold mb-3">Notfications  </h2>
            <p>You can check your Accepted Review Requests</p>
          </div>
        </div>
      </div>
    </div>

  </section>
}
@else if (userRole === 'customer') {
  <section class="">
    <div class="container">
      <div class="row">
        <!-- 📨 الرسائل -->
        <div class="col-12 col-md-6 cursor-pointer" routerLink="/messages">
          <div class="inner shadow rounded rounded-4 p-3">
            <i class="fa-solid fa-envelope text-white w-100 fs-1 py-3 d-flex justify-content-center"></i>
            <h2 class="fs-4 fw-bold mb-3">Messages</h2>
            <p>You can check your private messages</p>
          </div>
        </div>


        <div class="col-12 col-md-6 cursor-pointer" routerLink="/notifications">
          <div class="inner shadow rounded rounded-4 p-3 position-relative">
            <i class="fa-solid fa-bell text-white w-100 fs-1 py-3 d-flex justify-content-center"></i>

            @if (notificationCount > 0) {
              <div class="badge d-flex justify-content-center align-items-center bg-danger position-absolute top-0 end-0 translate-middle">
                <span class="fw-bolder fs-5">{{ notificationCount }}</span>
              </div>
            }

            <h2 class="fs-4 fw-bold mb-3">Notifications</h2>
            <p>You Can Check  which Workers Needed Your Review</p>
          </div>
        </div>
      </div>
    </div>
  </section>


}


