/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

/*
colors
---------
darkMode Colors :-
-------------------
text , iconsColor  ----> #fff , #F5ECD5 , #D5D1CC
iconsBackGroundColor , buttonsBackGroundColor ----> #0052AD , #0D6EFD
divsBackGroundColor ----> #181A1B , #1E2021
#4A90E2 , #2F73C2 , rgba(0, 82, 173, 0.5) , rgba(0, 82, 173, 0.7)
-------------------------------------------------------------------
lightMode Colors :-
-------------------
text , iconsColor ----> #000
iconsBackGroundColor , buttonsBackGroundColor ----> #FED754 ,
divsBackGroundColor ----> #FFFAEC , #FFFFFF , #F5ECD5
rgba(0, 0, 0, 0.7) , #F5C242 , #FFD65A
, rgba(254, 215, 84, 0.5) , rgba(254, 215, 84, 0.7)
*/

:root {
  --app-font-family: "Encode Sans Expanded", sans-serif ;
  /* --app-font-familytwo : "Oswald", serif ; */
}

[data-bs-theme="light"] {
  /* all: unset !important; */
  --bs-primary: unset !important;
  --bs-secondary: unset !important;
  --bs-body-bg: unset !important;
  --bs-body-color: unset !important;
  --bs-navbar-bg: unset !important;

  --bs-text-color: #000 !important;
  --bs-after-underline : #FAC600 !important ;
  --bs-buttonsAndIcons-bgColor: #FED754 !important;
  --bs-divs-first-bg-color: #FFFAEC !important;
  --bs-divs-seconed-bg-color: #FFFFFF !important;
  --bs-divs-third-bg-color: #F5ECD5 !important;
  --bs-first-other: rgba(0, 0, 0, 0.7) !important;
  --bs-second-other: #F5C242 !important;
  --bs-third-other: #FFD65A !important;
  --bs-fourth-other: rgba(0, 0, 0, 0.5) !important;
  --bs-nav-bg-color: #F7F7F7 !important;
  --bs-body-color: #FFFAEC  !important;
  --bs-loginForm-bg: #FFFAEC  !important;
  --bs-light-dark-bg : #161a28 !important;
  --bs-dark-btn-color : #000 ;
}

[data-bs-theme="dark"] {
  --bs-primary: unset;
  --bs-secondary: unset;
  --bs-body-bg: unset;
  --bs-body-color: unset;
  --bs-navbar-bg: unset;

  --bs-text-color: #fff  !important;
  --bs-buttonsAndIcons-bgColor: #0052AD  !important;
  --bs-divs-first-bg-color: #181A1B  !important;
  --bs-divs-seconed-bg-color: #1E2021  !important;
  --bs-first-other: #4A90E2  !important;
  --bs-second-other: #2F73C2  !important;
  --bs-after-underline : #2F73C2 !important ;
  --bs-third-other: rgba(0, 82, 173, 0.5)  !important;
  --bs-fourth-other: rgba(0, 82, 173, 0.7)  !important;
  --bs-nav-bg-color: rgba(0 , 0 , 0 , 0.9)  !important;
  --bs-body-color: #1E2021   !important;
  --bs-loginForm-bg : #1E2021 !important ;
  --bs-light-dark-bg :#E9E5D7 !important;

}

.icons-footer {
  cursor: pointer;
  transition: ease-in-out all 0.3s;
}
.icons-footer:hover {
  color: rgb(90, 87, 87) !important;
}
.main-section-form {
  background-color: var(--bs-divs-first-bg-color) !important;
}
.inner {
  background-color: var(--bs-divs-first-bg-color);
}
footer {
  background-color: var(--bs-divs-first-bg-color);
  transition: ease-in-out all 0.3s;
}
.form-control {
  border: 1px solid var(--bs-buttonsAndIcons-bgColor) !important;
  transition: box-shadow 0.3s ease-in-out !important;
}
.form-control:focus {
  box-shadow: 0px 0px 0px 5px var(--bs-fourth-other) !important;
  border-color: var(--bs-second-other) !important;
  outline: none !important;
}
.touch-icons , .txt-touch{
  color: var(--bs-text-color);
}
.form-select {
  border: 1px solid var(--bs-buttonsAndIcons-bgColor) !important;
  transition: box-shadow 0.3s ease-in-out !important;
}
.Services , .aboutus {
  background-color: var(--bs-divs-third-bg-color) !important;
}
.form-select:focus {
  box-shadow: 0px 0px 0px 5px var(--bs-fourth-other) !important;
  border-color: var(--bs-second-other) !important;
  outline: none !important;
}
.formDarkNdlight {
  background-color: var(--bs-loginForm-bg) !important;
  transition: ease-in-out 0.3s background-color !important;
}
body {
  background-color: var(--bs-body-color) !important;
  transition: ease-in-out 0.3s background-color !important;
}
input {
  color: var(--bs-text-color) !important;
  background-color: var(--bs-divs-first-bg-color);
  transition: ease-in-out 0.3s all;
}

.navbar-brand , label , a, h1, h2, h3, h4, h5, h6, p  {
  color: var(--bs-text-color) !important;
  transition: ease-in-out 0.3s all !important;
}

button {
  color: var(--bs-text-color) !important;
  background-color: var(--bs-buttonsAndIcons-bgColor) !important;
  transition: ease-in-out 0.3s background-color, ease-in-out 0.3s color !important;
}
.warningNote {
  color: var(--bs-buttonsAndIcons-bgColor) !important;
  transition: ease-in-out 0.3s background-color !important;
}

nav {
  background-color: var(--bs-nav-bg-color);
  transition: ease-in-out 0.3s background-color !important;
}


ul {
  text-decoration: none !important;
  list-style: none !important;
}
body {
  font-family: var(--app-font-family) !important;
  /* text-transform: capitalize !important; */
  letter-spacing: 1px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;

}
.w-fit {
  width: fit-content;
}

a {
  cursor: pointer;
}

.nav-link::after , .RegisteritionTxt::after , .servicesText::after , .inner::after {
  background-color: var(--bs-after-underline) !important;
  transition: ease-in-out 0.3s all !important;
}


a.iconsLinkFooter{
  color: var(--bs-text-color) !important;
}

i.icon-process {
  box-shadow: 0px 0px 0px 0.6rem var(--bs-second-other);
}
.innersIcons:hover i.icon-process
{
  box-shadow: 0px 0px 0px 0.6rem var(--bs-light-dark-bg);
  background-color: var(--bs-second-other) ;
}

nav {
  transition: background-color 0.3s ease-in-out, padding-block 0.3s ease-in-out !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
/* input::placeholder {
  color: var(--bs-loginForm-bg) !important;
  transition: ease-in-out color 0.3s !important;
} */
i.fa-briefcase {
  color: var(--bs-text-color);
}


/* hello world */